.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color:rgba(255, 9, 29, 0.505); */
    /* border: 5px solid rgb(255, 0, 174);
    border-radius: 10px; */
    padding: 25px;
    margin: 70px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translatez(8);
    transition: transform 0.255 ease-out;
    width: 30vw;
     background: linear-gradient(
        to left,
        rgba(122, 205, 241, 0.614),
        hsla(0, 0%, 100%, 0.807)
    ); 
    
    
    }

    .container{
    /* width: 85vw;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-direction: column; */
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
    
    .card-container:hover {
    transform: scale(1.05);
    }
    
    .image1
    {
       width: 400px;
       border-radius: 3px;
       
    }
    .titcard{
        font-size: 20px;
        color: rgb(0, 246, 21);
    }
    .h3-plat{
        font-size:20px;
        white-space: nowrap;
        
        
    }
    